.gradient-custom {
    /* fallback for old browsers */
    background: #0f021d;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(213, 206, 221), rgb(14, 25, 45));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(23, 11, 37), rgb(11, 24, 47))
    }
    .titles{
        padding: 10px;
    }
    .imgUp{
        border-radius: 25%;
        padding: 10px;
    }